{% extends '../base.html' %}

{% block nav %}
    {% load static %}
    <img src="{% static 'img/hbc-d.jpg' %}" alt="My image">
{% endblock %}

{% block section1 %}
    <h1>Harvest Baptist Church</h1>

<table class="table table-striped table-hover table-borderless table-sm .table-dark">
<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Answered?</th>
  <th>Description</th>
</tr>
{% for item in requests %}
<tr>
  <td>{{ item.first_name }}</td>
  <td>{{ item.last_name }}</td>
  <td>{{ item.is_answered }}</td>
  <td>{{ item.description }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}

{% block form_modal %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Prayer Request
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Prayer Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action='/' method='POST'>
          {% csrf_token %}
          {{ form.as_p}} <!-- This is the Django form to be rendered -->
          <input type="submit" class="btn btn-success">
        </form>
      </div>
      <div class="modal-footer">
<!--        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>-->
<!--        <a class="btn btn-success" href="/">Save</a> &lt;!&ndash; Links to home page &ndash;&gt;-->
      </div>
    </div>
  </div>
</div>
{% endblock %}