{% extends '../base.html' %}

{% block nav %}

{% endblock %}

{% block section1 %}
    <h1>Harvest Baptist Church</h1>

{% if user.is_authenticated != True %}
    <h2>You are not <a href="{% url 'login' %}">logged in</a>!</h2>
{% endif %}

{% for group in request.user.groups.all %}
    {% if group.name == 'Prayer Group' %}
        {% with access=True %}
        {% endwith %}
        <h2>You're in the Prayer Group!</h2>

<div id="carouselExampleCaptions" class="carousel slide w-75">
<!--      <div class="carousel-indicators">-->
<!--        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" control-id="ControlID-17"></button>-->
<!--        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" control-id="ControlID-18"></button>-->
<!--        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" control-id="ControlID-19"></button>-->
<!--      </div>-->
      <div class="carousel-inner">
        <div class="carousel-item active">
<!--          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em"></text></svg>-->
            <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="https://images.unsplash.com/photo-1437603568260-1950d3ca6eab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>HBC Prayer Group</h5>
            <p>Group description goes here.</p>
          </div>
            {% for person in requests %}
        </div>
        <div class="carousel-item">
<!--          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em"></text></svg>-->
            <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="https://images.unsplash.com/photo-1437603568260-1950d3ca6eab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ person.first_name }} {{ person.last_name }}</h5>
            <p>{{ person.description }}</p>
              {% if person.is_answered == True %}
                <p class="text-bg-success">Answered!</p>
              {% else %}
                <p class="text-bg-warning">Not Answered</p>
              {% endif %}
          </div>
            {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" control-id="ControlID-20">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" control-id="ControlID-21">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


<div id="" class="w-100 border border-primary">
<!--  <div class="d-flex flex-row border border-primary">-->
      <div class="d-flex flex-wrap align-self-baseline">
    {% for item in requests %}
       <div class="card m-1 border border-secondary w-25" style="min-width:300px;">
           <img class="card-img-top object-fit-contain rounded" src="https://images.unsplash.com/photo-1437603568260-1950d3ca6eab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ item.first_name }} {{ item.last_name }}</h5>
          <p class="card-text">{{ item.description }}</p>
            <p>
            {% if item.is_answered == True %}
                Answered
            {% else %}
                Not Answered
            {% endif %}
            </p>
<!--          <a href="#" class="btn btn-primary">Button</a>-->
        </div>
      </div>
    {% endfor %}
    {% endif %}

{% endfor %}

      {% if not access %}
          <div class="container">
              <h2 class="">You are not yet approved as a member of the prayer group. Please contact the administrator for access.</h2>
          </div>
    {% endif %}

{% endblock %}

{% block form_modal %}
  <!-- Button trigger modal -->
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-lg btn-success p-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Prayer Request
    </button>
</div>

<!-- Modal -->
<div class="modal fade h-75" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Prayer Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action='/' method='POST'>
          {% csrf_token %}
          {{ form.as_p}} <!-- This is the Django form to be rendered -->
          <input type="submit" class="btn btn-success">
        </form>
      </div>
      <div class="modal-footer">
<!--        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>-->
<!--        <a class="btn btn-success" href="/">Save</a> &lt;!&ndash; Links to home page &ndash;&gt;-->
      </div>
    </div>
  </div>
</div>
{% endblock %}